.idea/*
nbproject/*

composer.lock
package-lock.json

**/.htaccess

.gitignore

docker/apache/*
docker.sh
docker-composer.sh
docker-npm.sh
docker-scss.sh
docker-js.sh
docker-tests.sh
docker-permission.sh
docker-console.sh

node_modules/*
vendor/*
temp/*
log/*
bin/*

app/bootstrap.php
app/config/core.neon.example
app/config/sensitive.neon.example

www/index.php
www/js/**/*.min.js
www/scss/**/*.css
www/scss/**/*.map
www/node_modules/*
