# override any default settings / register your services

includes:
    - sensitive.neon

rabbitmq:
    producers:

    consumers:

parameters:
    appName: 'Test'
    appNameShort: 'TES'

    configMenu:
        Menu!: # exclamation mark signs to replace previous option (options will be merged otherwise)
            order:
                name: 'Order'
                icon: comments
                dest: Order:default
                role: 'administrator'
            settings:
                name: 'Settings'
                icon: cog
                dest:
                    category:
                        name: 'Category'
                        dest: Category:default
                    ingredient:
                        name: 'Ingredient'
                        dest: Ingredient:default

