includes:
    - sensitive.neon
    - services.neon

parameters:
    domain: 'localhost'
    sessionName: 'websprint'

    meta:
        name: 'Websprint'
        nameShort: 'WSP'
        version: '1.0'
        description: 'websprint project'
        keywords: 'websprint, project'
        author: 'peldax.com'
        robots: 'index, follow'
        viewport: 'width=device-width, initial-scale=1, maximum-scale=2'
        color: '#ffffff'

    robots:
        all:
            name: '*'
            disallow:

    security:
        contact: 'peldax@gmail.com'
        acknowledgements: 'https://github.com/nepttune/nepttune/graphs/contributors'

    dest:
        homepage: ':Admin:Default:default'
        adminHomepage: ':Admin:Default:default'
        userProfile: false
        signOut: ':Admin:Sign:out'

    configMenu:
        Menu:
            room:
                name: 'Pokoje'
                dest: ':Admin:Room:default'
                icon: 'bed'
            service:
                name: 'Služby'
                dest: ':Admin:Service:default'
                icon: 'utensils'
            user:
                name: 'Uživatelé'
                dest: ':Admin:User:default'
                icon: 'user'
