recaptcha:
    siteKey: 'X'
    secretKey: 'X'

database:
    default:
        dsn: 'mysql:host=mariadb;dbname=websprint'
        user: 'root'
        password: 'example'

redis:
    host: 'redis'

parameters:
    smsconnect:
        login: 'X'
        password: 'X'
    vapid:
        subject: '%domain%'
        publicKey: 'X'
        privateKey: 'X'

#mail:
#    smtp: true
#    host: 'X'
#    username: 'X'
#    password: 'X'
