recaptcha:
    siteKey: 'X'
    secretKey: 'X'

database:
    default:
        dsn: 'mysql:host=X;dbname=X'
        user: 'X'
        password: 'X'

redis:
    host: 'redis'

elasticsearch:
    host: 'elasticsearch'

rabbitmq:
    connection:
        default:
            host: 'X'
            port: 5672
            user: 'X'
            password: 'X'
            vhost: '/'

gopay:
    goId: 'X'
    clientId: 'X'
    clientSecret: 'X'
    test: on


parameters:
    smsconnect:
        login: 'X'
        password: 'X'
    vapid:
        subject: '%domain%'
        publicKey: 'X'
        privateKey: 'X'


mail:
    smtp: true
    host: 'X'
    username: 'X'
    password: 'X'
