recaptcha:
    siteKey: '6LfHeXUUAAAAACI1yVOp4Q-Fppcm5sK_zCbiQylo'
    secretKey: '6LfHeXUUAAAAAEuKISlSFwDAoP-cjhyIdg2j_Qd5'

database:
    default:
        dsn: 'mysql:host=mariadb;dbname=websprint'
        user: 'root'
        password: 'example'

redis:
    host: 'redis'

parameters:
    smsconnect:
        login: 'X'
        password: 'X'
    vapid:
        subject: '%domain%'
        publicKey: 'BGs3rD_g7ZRTKMYNiPaV31vj_HTbY_BOr1ckQE15PWqOJFEAgQ1s1itugMTub38PQoWy8FXfDchO5SkeJNQtukU'
        privateKey: 'bYqySxw44a8Ez0Kx9VMadPkGzNFuNRueaDq4QwnWdJE'

#mail:
#    smtp: true
#    host: 'X'
#    username: 'X'
#    password: 'X'
