services:
    router: @routerFactory::createStandardRouter('Admin')
    authenticator: App\Model\Authenticator

    - App\Model\RoomModel
    - App\Model\EventModel
    - App\Model\ServiceModel
    - App\Model\SubServiceModel

    - App\AdminModule\Component\IEventFormFactory
    - App\AdminModule\Component\IEventListFactory
    - App\AdminModule\Component\ILoginFormFactory
    - App\AdminModule\Component\IRoomListFactory
    - App\AdminModule\Component\IServiceListFactory
    - App\AdminModule\Component\ISubServiceListFactory
    - App\AdminModule\Component\IUsageStatFactory
    - App\AdminModule\Component\IUserFormFactory
    - App\AdminModule\Component\IUserListFactory