{snippet eventFormSnippet}
    {switch $step}
        {case 1}
            {control formStep1}
        {case 2}
            {control formStep2}
        {case 2}
            {control formStep3}
    {/switch}
{/snippet}
